@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b3b4bd;
  --foreground: #141619;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
